<div fxLayout="row" fxFlex class="content">
  <mat-accordion fxFlex [multi]="true">
    <mat-expansion-panel *ngFor="let composition of compositions | groupByRic:'compositionNumber'" [expanded]="composition.expanded">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Composição Logística {{composition.key}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
          <mat-list-item>
              <p mat-line fxLayout="row">
                <span fxFlex="30">GTN</span>
                <span fxFlex="25">Unidade da embalagem</span>
                <span fxFlex="25">Quantidade da embalagem</span>
                <span fxFlex="20">Ações</span>
              </p>
            </mat-list-item>
            <mat-divider></mat-divider>
      </mat-list>
      <mat-nav-list>
          <mat-list-item *ngFor="let level of composition.value | orderBy:'index'; first as isFirst; odd as isOdd" [ngClass]="{'list-background': isOdd}">
            <p mat-line fxLayout="row" fxLayoutAlign=" center" >
                <span fxFlex="30" [ngStyle]="{'padding-left': (level.index * 40) + 'px'}">{{level.dunCode}}</span>
                <span fxFlex="25">{{packingUnits[level.packingUnit]}}</span>
                <span fxFlex="25">{{level.quantity}}</span>
                <span fxFlex="20">
                    <button mat-icon-button>
                        <mat-icon aria-label="Add" (click)="add(level)">link</mat-icon>
                      </button>
                      <button mat-icon-button (click)="edit(level)">
                        <mat-icon aria-label="Edit">mode_edit</mat-icon>
                      </button>
                      <button mat-icon-button (click)="delete(level)" *ngIf="isFirst">
                        <mat-icon aria-label="Delete">delete_forever</mat-icon>
                      </button>                              
                </span>
              </p>
          </mat-list-item>
      </mat-nav-list>      
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-fab (click)="add(null)" class="fab-bottom-right">
    <mat-icon>add</mat-icon>
  </button>
</div>