<mat-nav-list>
    <div>
        <mat-list-item>
          <p mat-line fxLayout="row">
            <span fxFlex="30">{{composition.dunCode}}</span>
            <span fxFlex="25">{{composition.packingUnit}}</span>
            <span fxFlex="25">{{composition.quantity}}</span>
            <span fxFlex="20">
                <button mat-icon-button>
                  <mat-icon aria-label="Add">link</mat-icon>
                </button>
                <button mat-icon-button (click)="edit(composition)">
                  <mat-icon aria-label="Edit">mode_edit</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon aria-label="Delete">delete_forever</mat-icon>
                </button>                    
            </span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-nav-list style="margin-left:30px;" *ngFor="let level of composition.levels">
          <app-composition-list [composition]="level"></app-composition-list>
        </mat-nav-list>
    </div>
</mat-nav-list>